.cloth{
    width: 300px;
    height: 430px;
}
.button{
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    color: white;
    font-family: arial;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.7s;
}
.button:hover{
    background-color: white;
    color: black;
}