.cat{
    width: 45px;
    border-radius: 70%;
    height: 40px;
    margin-left: 20px;
}
.add{
    background-color: rgb(11, 142, 223);
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.message{
    background-color: rgb(192, 192, 192);
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;

}
.eye {
    width: 50px;
    height: 50px;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 40px;
    cursor: pointer;
}
.plus{
    width: 20px;
    margin-left: 90px;
    cursor: pointer;
}